*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





.contact-container
{


  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}

.contact-left
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-left-title h2 
{
  font-weight: 600;
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
}

.contact-left-title hr 
{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #18181B;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
  
}



.contact-inputs
{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #18181B;
  border-radius: 50px

}

.contact-left textarea
{
  height: 140px;
  padding-top: 10px;
  border-radius: 25px;
}


.contact-inputs:focus
{
   border: 2px solid #1d4ed8;

} 


.contact-inputs::placeholder
{
  color:  #18181B;
}


.contact-left button 
{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #18181B;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: #18181B;
  cursor: pointer;

}

.contact-left button img 
{
   height: 20px;
}


.contact-right img 
{
  width: 500px;
}


@media (max-width:800px) {
  .contact-inputs{
    width: 100vw;
  }
  
  .contact-right{
    display: none;
  }
































}



